.heading {
    font-family: Calibri;
    font-style: oblique;
    font-weight: bold;
    color: darkblue;
}

.center {
    margin: auto;
    width: 75%;
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}
