.heading {
    font-family: Calibri;
    font-style: oblique;
    font-weight: bold;
    color: darkblue;
}

.roomNumber {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.center {
    margin: auto;
    width: 75%;
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}

.attendees {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    color: black;
}

.attendeeList {
    font-family: Calibri;
    font-style: italic;
    font-weight: normal;
    color: black;
    list-style-type: none;
}

.messages {
    text-align: left;
    list-style-type: none;
}



