.heading {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    color: whitesmoke;
}

.underlinedHeading {
    font-family: sans-serif;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    color: whitesmoke;
}

.loading {
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #3B78E7;
}

.error {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    color: red;
}

.roomNumber {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: whitesmoke;
}

.center {
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #232526;
}

.attendees {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    color: whitesmoke;
}

.attendeeList {
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    color: whitesmoke;
    list-style-type: none;
}

.messages {
    text-align: left;
    list-style-type: none;
    color: whitesmoke;
}

.online {
    list-style-type: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #3498db;
    text-decoration: underline;
}

.online li:hover {
    cursor: pointer;
    cursor: hand;
    list-style-type: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    color: red;
    text-decoration: underline;
}

.offline {
    list-style-type: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: whitesmoke;
}


.user {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: whitesmoke;
}

.calling {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.left {
    float:left;
    width:30%;
}
.middle {
    display: inline-block;
    margin:0 auto;
    width:30%;
}
.right {
    float:right;
    width:30%;
}

.notRegistered {
    color: whitesmoke;
}

.button {
    -webkit-transition-duration: 0.4s;
    border: none;
    padding: 4px 16px;
    color: #232526;
    background-color: #4285F4;
    border-radius: 4px;
}

.button:hover {
    background-color: #3B78E7;
    color: whitesmoke;
}

.blue {
    color: #3B78E7;
}

.textArea {
    color: #232526;
}

